# Virtual environment
venv/
.env
__pycache__/
*.pyc

data/
*.CSV

# Credentials (NEVER upload)
credentials/
*.json

# Models (optional to hide)
models/
*.joblib

# Cache
.streamlit/

# Optional: ignore data
data/*.csv
